# Logs
logs
*.log
pnpm-debug.log*

node_modules
dist
*.local
.pnpm-store
templates/*/pnpm-lock.yaml
./lefthook.yml

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
